@import 'vars';


.blogContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 80px;
  position: relative;
  
}

.MostViewed {
  position: sticky;
  left: 0;
  top: 80px; /* Ajusta la distancia desde la parte superior según tu diseño */
  width: 200px; /* Ajusta el ancho según sea necesario */
  /* Agrega otros estilos, como fondo, bordes, etc. */
}

/* Estilos para el componente "Products in Offer" (derecha) */
.ProductsInOffer {
  position: sticky;
  right: 0;
  top: 80px; /* Ajusta la distancia desde la parte superior según tu diseño */
  width: 200px; /* Ajusta el ancho según sea necesario */
  /* Agrega otros estilos, como fondo, bordes, etc. */
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.contentRich {
  max-width: 800px;
}

.container h1 {
    font-size: 28px;
    font-weight: 400;
  }

  .container h2 {
    font-size: 25px;
    font-weight: 400;
  }

  .container h3 {
    font-size: 23px;
    font-weight: 400;
  }

  .container h4 {
    font-size: 20px;
    font-weight: 400;
  }

.container p {
  line-height: 1.77;
  margin-bottom: 15px;
  marging-top: 15px;
  text-transform: none;
  font-family: BreveText, helvetica, sans-serif;
  font-feature-settings: normal;
  font-style: normal;
  letter-spacing: 0.00568421em;
  line-break: auto;
  line-height: 1.47368em; 
  font-size: 19px;
  font-weight: 400;
  overflow-wrap: normal;
  color: rgb(26, 26, 26);
}

/* Estilos para la separación entre secciones */
.blogContainer > * {
  margin-bottom: 30px;
}

@media (max-width: 640px) {
  /* Aumenta el tamaño del texto en dispositivos móviles */
  .container p {
    font-size: 24px;
    line-height: 1.5;
  }

  /* Ajusta el ancho de los contenedores principales para que se ajusten a la pantalla */
  .blogContainer, .MostViewed, .ProductsInOffer, .container, .contentRich {
    max-width: 100%;
    padding: 10px;
  }

  /* Puedes reducir o eliminar el padding-top en .blogContainer si es necesario */
  .blogContainer {
    padding-top: 40px;
  }

  /* Puedes modificar la posición de los elementos pegajosos o eliminarlos si no son adecuados para dispositivos móviles */
  .MostViewed, .ProductsInOffer {
    position: static;
    width: auto;
  }

  .container h1 {
    font-size: 52px;
    font-weight: 400;
  }

  .container h2 {
    font-size: 42px;
    font-weight: 400;
  }

  .container h3 {
    font-size: 40px;
    font-weight: 400;
  }

  .container h4 {
    font-size: 35px;
    font-weight: 400;
  }

  .container p {
    line-height: 1.7;
    margin-bottom: 15px;
    marging-top: 15px;
    text-transform: none;
    font-family: BreveText, helvetica, sans-serif;
    font-feature-settings: normal;
    font-style: normal;
    letter-spacing: 0.00568421em;
    line-break: auto;
    line-height: 1.47368em;
    font-size: 2.625rem;
    font-weight: 400;
    overflow-wrap: normal;
    color: rgb(26, 26, 26);
}

.container h2 {
    line-height: 1.7;
    margin-bottom: 15px;
    marging-top: 15px;
    text-transform: none;
    font-family: BreveText, helvetica, sans-serif;
    font-feature-settings: normal;
    font-style: normal;
    letter-spacing: 0.00568421em;
    line-break: auto;
    line-height: 1.47368em;
    font-size: 2.925rem;
    font-weight: 400;
    overflow-wrap: normal;
    color: rgb(26, 26, 26);
}

.container h3 {
    line-height: 1.7;
    margin-bottom: 15px;
    marging-top: 15px;
    text-transform: none;
    font-family: BreveText, helvetica, sans-serif;
    font-feature-settings: normal;
    font-style: normal;
    letter-spacing: 0.00568421em;
    line-break: auto;
    line-height: 1.47368em;
    font-size: 2.825rem;
    font-weight: 400;
    overflow-wrap: normal;
    color: rgb(26, 26, 26);
}


}