@import 'vars';


.blogContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 80px;
  position: relative;
  
}

.MostViewed {
  position: sticky;
  left: 0;
  top: 80px; /* Ajusta la distancia desde la parte superior según tu diseño */
  width: 200px; /* Ajusta el ancho según sea necesario */
  /* Agrega otros estilos, como fondo, bordes, etc. */
}

/* Estilos para el componente "Products in Offer" (derecha) */
.ProductsInOffer {
  position: sticky;
  right: 0;
  top: 80px; /* Ajusta la distancia desde la parte superior según tu diseño */
  width: 200px; /* Ajusta el ancho según sea necesario */
  /* Agrega otros estilos, como fondo, bordes, etc. */
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.contentRich {
  max-width: 800px;
}

.container p {
  line-height: 1.6;
  margin-bottom: 15px;
  marging-top: 15px;
  text-transform: none;
  font-family: BreveText, helvetica, sans-serif;
  font-feature-settings: normal;
  font-style: normal;
  letter-spacing: 0.00568421em;
  line-break: auto;
  line-height: 1.47368em;
  font-size: 19px;
  font-weight: 400;
  overflow-wrap: normal;
  color: rgb(26, 26, 26);
}

/* Estilos para la separación entre secciones */
.blogContainer > * {
  margin-bottom: 30px;
}