@import 'vars';


.Fot {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin: 5px;
	color: white; 
  font-size: .75rem;

}

.global {
	background-color: #000;
  border-bottom: 1px solid $--very-light-pink;
   
}



.right {
	width: 30%;
	padding: 15px;

}	

.logo {
  display: -webkit-inline-box;
  padding: 5px;
  border: 1px solid white;
}

.middle {
	width: 30%;
	padding: 15px

}

.middle h2 {
  font-size: 30px;
}

.middle li {
  font-size: 15px;

}

.left {
	width: 30%;
	padding: 15px;
}

.right h2, .middle h2, .left h2 {
  font-size: 30px;

}

.right ul, .middle ul, .left ul {
	list-style: none;
  flex-direction: column;
	display: flex;
	padding: 0;

}
 
.right li, .middle li, .left li {
	margin: 5px;
  font-size: 15px;

}  

.spa {
    padding: 15px;
    text-align: center;
    justify-content: center;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.spa span {
    font-family: Inter,sans-serif;
    font-size: 12px;
    line-height: 140%;
    color: white; 
}

.spa2 {
	font-family: Inter,sans-serif;
    font-size: 12px;
    line-height: 140%;
    color: white; 
}

@media (max-width: 640px) {
  .Fot {
    justify-content: none;
    flex-direction: column;
  }

  .h2 {
    margin: 15px;
	  line-height: 1.77;
    text-transform: none;
    font-family: BreveText, helvetica, sans-serif;
    font-feature-settings: normal;
    font-style: normal;
    letter-spacing: 0.00568421em;
    line-break: auto;
    line-height: 1.47368em;
    font-size: 3.825rem;
    font-weight: 400;
    overflow-wrap: normal;
  }

  .right, .middle, .left {
    width: 100%;

  }

  .right li, .middle li, .left li {
	  margin: 15px;
	  line-height: 1.77;
    text-transform: none;
    font-family: BreveText, helvetica, sans-serif;
    font-feature-settings: normal;
    font-style: normal;
    letter-spacing: 0.00568421em;
    line-break: auto;
    line-height: 1.47368em;
    font-size: 2.625rem;
    font-weight: 400;
    overflow-wrap: normal;
  }  
}
