@import 'vars';



.Container {
	width: calc(100%);
}

.HeadP {
	padding: 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: unset;
    margin-top: 30px;
}

.containerImage {
	display: flex;
    flex: 1;
}

.containerText {
	display: flex;
	flex: 2;
	flex-direction: column;
}