@import 'vars';



.Container {
	width: calc(100%);
}

.HeadP {
	padding: 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: unset;
    margin-top: 30px;
}

.containerImage {
	display: flex;
    flex: 1;
}

.containerText {
	display: flex;
	flex: 2;
	flex-direction: column;
}

@media (max-width: 640px) {
  
  .Container {
    margin-top: 50px;
  }

  .HeadP {
    flex-direction: column;
  } 

  .containerImage {
    display: none;
    align-items: center;
    justify-content: center;
  }

  .h1 {
    font-size: 2.8rem; /* Tamaño del título */
  }

  .p {
    line-height: 1.7;
    margin-bottom: 15px;
    marging-top: 15px;
    text-transform: none;
    font-family: BreveText, helvetica, sans-serif;
    font-feature-settings: normal;
    font-style: normal;
    letter-spacing: 0.00568421em;
    line-break: auto;
    line-height: 1.47368em;
    font-size: 2.235rem;
    font-weight: 400;
    overflow-wrap: normal;
    color: rgb(26, 26, 26);
  }
}