@import 'vars';


.imgContainer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.imgSlice {
  max-width: 100%;
  height: auto;
}

@media (max-width: 640px) {

  .imgSlice {
    width: 600px;
    height: 600px;
  }

}
