@import 'vars';


/* Estilos para el componente HomeBlogComponent */
.ListRight {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  align-items: flex-start; /* Alinea los elementos a la izquierda */
}

.dailyOffers {
  padding: 5px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.h2 {
  font-size: 24px; /* Tamaño del título */
  margin-bottom: 40px; /* Espaciado inferior */
}

.ul { 
  list-style: none; /* Quita los puntos de lista */
  padding: 0;
  margin: 0;
} 

.li {
  margin-bottom: 40px; /* Espaciado inferior entre elementos de la lista */
  border-bottom: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos para la imagen */
.containerImg {
    width: 150px;
    height: 150px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.productImage {
  max-width: 80%;
  max-height: 90%;
}

.h4 {
  font-size: 16px; /* Tamaño del título del producto */
  margin-top: 5px; /* Espaciado superior para el título */
}

.strong {
  display: block; /* Coloca el precio en una nueva línea */
  font-size: 14px; /* Tamaño del precio */
  margin-top: 10px; /* Espaciado superior para el precio */
}

.span {
  color: #00a859;
}

@media (max-width: 640px) {

  .ListRight {
    padding-top: 10px;
  }

  .h2 {
    font-size: 34px; /* Tamaño del título */
    margin-bottom: 40px; /* Espaciado inferior */
  }

  .h4 {
    line-height: 1.7;
    margin-bottom: 15px;
    marging-top: 15px;
    text-transform: none;
    font-family: BreveText, helvetica, sans-serif;
    font-feature-settings: normal;
    font-style: normal;
    letter-spacing: 0.00568421em;
    line-break: auto;
    line-height: 1.47368em;
    font-size: 1.835rem;
    font-weight: 600;
    overflow-wrap: normal;
    color: rgb(26, 26, 26);
  }

  .strong {
    font-size: 20px;
  }

  .ul {
    display: flex; 
  } 

  .li {
    padding: none;
    border: none;
  }

}