@import 'vars';


.ListLeft {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  align-items: flex-start; /* Alinea los elementos a la izquierda */
}

.mostViewed {

  padding: 5px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.h2 { 
  font-size: 24px; /* Tamaño del título */
  margin-bottom: 30px; /* Espaciado inferior */
}

.ul {
  list-style: none; /* Quita los puntos de lista */
  padding: 0;
  margin: 0;
}

.li {
  margin-bottom: 20px; /* Espaciado inferior entre elementos de la lista */
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid;
}

/* Estilos para la imagen */
.imagen {
  border-radius: 8px; /* Bordes redondeados para las imágenes */
}

.p {
  margin-top: 15px; /* Espaciado superior para el párrafo */
}

@media (max-width: 640px) {

  .ListLeft {
    padding-top: 10px;
  }

  .h2 {
    font-size: 34px; /* Tamaño del título */
    margin-bottom: 20px; /* Espaciado inferior */
  }

  .p {
    line-height: 1.7;
    margin-bottom: 15px;
    marging-top: 15px;
    text-transform: none;
    font-family: BreveText, helvetica, sans-serif;
    font-feature-settings: normal;
    font-style: normal;
    letter-spacing: 0.00568421em;
    line-break: auto;
    line-height: 1.47368em;
    font-size: 1.835rem;
    font-weight: 600;
    overflow-wrap: normal;
    color: rgb(26, 26, 26);
  }

  .ul {
    
  }

  .li {
    padding: 5px;
    border: none;
    flex-direction: row;
  }

} 