@import 'vars';


/* Estilos para el componente HomeBlogComponent */
.ListRight {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  align-items: flex-start; /* Alinea los elementos a la izquierda */
}

.dailyOffers {
  background-color: #f1f3f9; /* Fondo del contenedor */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.h2 {
  font-size: 24px; /* Tamaño del título */
  margin-bottom: 40px; /* Espaciado inferior */
}

.ul {
  list-style: none; /* Quita los puntos de lista */
  padding: 0;
  margin: 0;
}

.li {
  margin-bottom: 20px; /* Espaciado inferior entre elementos de la lista */
}

/* Estilos para la imagen */
.img {
  border-radius: 8px; /* Bordes redondeados para las imágenes */
}

.h4 {
  font-size: 16px; /* Tamaño del título del producto */
  margin-top: 5px; /* Espaciado superior para el título */
}

.strong {
  display: block; /* Coloca el precio en una nueva línea */
  font-size: 14px; /* Tamaño del precio */
  margin-top: 10px; /* Espaciado superior para el precio */
}

.span {
  color: #00a859;
}

@media (max-width: 640px) {

  .ListRight {
    padding-top: 10px;
  }

  .h2 {
    font-size: 34px; /* Tamaño del título */
    margin-bottom: 40px; /* Espaciado inferior */
  }

  .h4 {
    font-size: 20px; /* Tamaño del título del producto */
    margin-top: 5px; /* Espaciado superior para el título */
  }

  .strong {
    font-size: 20px;
  }

  .ul {
    display: flex; 
  } 

  .li {
    padding: 10px;
  }

}