@import 'vars';



.Container {
  margin-top: 60px;
  width: calc(100%);
  display:flex;
  overflow-x:hidden;
} 

.Wrapper {
  display: flex;  
  transition: all 1.5s ease;
}

.SliderO {
  height : 35px;
  width: 100vw; 
  background-color: #000;
  color: white;
  display: flex;
  align-items:center;
  justify-content: center; 
  font-size:14px;
  font-weight:500;
}

.Desc {
  cursor:pointer;
  margin-right: 10px;
}

@media (max-width: 640px) {
  
  .Container {
    margin-top: 16px; /* Reduce el margen en dispositivos móviles */
  }

  .Wrapper {
    /* Puedes ajustar estilos adicionales o anular estilos aquí si es necesario */
  }

  .SliderO {
    height: 30px; /* Reduzca el alto en dispositivos móviles si es necesario */
    font-size: 12px; /* Reduzca el tamaño de fuente en dispositivos móviles si es necesario */
  }

  .Desc {
    /* Puedes ajustar estilos adicionales o anular estilos aquí si es necesario */
  }

}
