@import 'vars';



.Container {
  width:100%;
  display:flex;
  overflow-x:hidden;
}

.Wrapper {
  display: flex;  
  transition: all 1.5s ease;
}

.SliderO {
  height : 35px;
  width: 100vw; 
  background-color: #171e40;
  color: white;
  display: flex;
  align-items:center;
  justify-content: center; 
  font-size:14px;
  font-weight:500;
}

.Desc {
  cursor:pointer;
  margin-right: 10px;
}

@media (max-width: 640px) {
  .SliderO {
    font-size: 10px;
  }
}
