@import 'vars';

.main-container {
  padding: 16px;
}

.ProductList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 16px;
}
 
@media (max-width: 640px) {

}
