@import 'vars';


.container {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin-left: 80px;
}   

.imageContainer {
  padding: 20px;
  border-radius: 8px;
} 


.textContainer {
  flex: 2;
}

@media (max-width: 640px) {

  .container {
    flex-direction: column;
  }

  .imageContainer {
    padding: 10px;
  } 

}


