@import 'vars';


.container {
  display: flex;
  align-items: center;
  max-width: 200px;
  margin: 0 auto;
  justify-content: center;
}   

.imageContainer {
  padding: 20px;
  border-radius: 8px;
} 


.textContainer {
  flex: 2;
}

@media (max-width: 640px) {

  .container {
    flex-direction: column;
  }

  .imageContainer {
    padding: 10px;
  } 

}


