@import 'vars';


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.listaRendimientoGraficos {
  list-style: none;
  padding: 0;
}

.categoria {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 15px;
}