@import 'vars';

.container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: solid;
}

.h1 {
  margin-bottom: 40px;
  cursor: pointer;
  border-bottom: 8.5px solid #000;
  padding-top: 4px;
  font-size: 3.25rem;
  line-height: 3.4375rem;
  font-family: 'Lobster';
  font-weight: 900;
  letter-spacing: -1px;
  color: #000;
  display: inline-block;
}
 
.articulosContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
}

.articulo {
  padding: 10px;
}



.h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.span {
  font-size: 1.20rem;
  font-family: 'Lobster';
  font-weight: 900;
  letter-spacing: -1px;
  color: #000;
}

.p {
  font-size: 14px;
  color: #666;
}

@media (max-width: 640px) {
  .container {
    padding: 10px;
  }

  .articulo {
    border-bottom: solid 1px;
  }

  .h1 {
    cursor: pointer;
    border-bottom: none;
    padding-top: 4px;
    font-size: 3.25rem;
    color: #000;
    display: inline-block;
  }

  .articulosContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .productImage {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .span {
    font-size: 25px;
    font-family: 'Lobster';
    color: #000;
    font-weight: 400;
    letter-spacing: 0px;
}

  .h2 {
    font-size: 30px;
  }

  .p {
    font-size: 30px;
  }
 }