@import 'vars';


.reviewHeader {
  margin: 20px 0;
}

.h1 {
  font-size: 24px;
  font-weight: bold;
}

.rating {
  margin: 10px 0;
}

.rating span {
  margin-right: 5px;
}

.introduction {
  font-size: 16px;
  color: #666;
}