@import 'vars';

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
 
.articulosContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.articulo {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

.productImage {
  width: 300px;
  height: 250px;
  border-radius: 8px;
} 

.productImage .img {
  border-radius: 8px;
} 

.h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.p {
  font-size: 14px;
  color: #666;
}