@import 'vars';



.container {
  display: flex;
}

.navbar-search {
    max-width: 400px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.search {
  
}

.navbar-search div {
	width: 100%;
}

.navbar-search div form {
	display: flex;
}

.navbar-search div form div {
	display: flex;
    flex-grow: 1;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 2px;
}

.navbar-search div form button {
	width: auto;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    height: 40px;
    padding: 8px;
    background-color: #f0f0f0;
    margin-left: 8px;
}

.navbar-search div form div input {
	outline: none;
    border: none;
    background-color: #f0f0f0;
    color: #000;
    width: 100%;
    margin: 8px;
    padding: 0;
}

.li {
  font-size: 1.20rem;
  font-family: 'Lobster';
  font-weight: 900;

  color: #000;
}

.navbar-left ul {
	list-style: none;
	padding: 5;
	margin: 0;
	display: flex;
	align-items: center;
	height: 60px;
}
.navbar-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 10px;
}


.navbar-left ul li a {
	text-decoration: none;
	padding: 8px;
	margin: 5px;
	border-radius: 8px;
}
.navbar-left ul li a:hover {
	border: 1px solid $--hospital-green;
	color: $--hospital-green;
}

 /* Agrega estilos para la sección de resultados de búsqueda */
.navbar-search .search-results {
  position: absolute;
  max-width: 500px;
  top: 20%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 2px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  z-index: 1;
  max-height: 450px;
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  scrollbar-width: thin; /* Ancho del scrollbar */
  scrollbar-color: #ccc transparent; /* Color del scrollbar */
}

/* Estilos para el scrollbar */
.navbar-search .search-results::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.navbar-search .search-results::-webkit-scrollbar-track {
  background: transparent; /* Color de fondo del scrollbar */
}

.navbar-search .search-results::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Color del thumb (la parte deslizante del scrollbar) */
  border-radius: 10px; /* Radio de borde del thumb */
}


/* Estilos para cada elemento de resultado de búsqueda */
.navbar-search .search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-search .search-results li {
  padding: 10px;
  cursor: pointer;
}

.navbar-search .search-results li:hover {
  background-color: #f0f0f0;
}

.navbar-search .search-results a {
  color: #000;
  text-decoration: none;
  
}

.text {
  display: flex;
}

.li {
  display: flex;
  justify-content: center;
  align-items: center;
}


.productImage {
    margin: 15px;
    width: 90px;
    height: 90px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.productImage {
  max-width: 20%;
  max-height: 25%;
}

/* Estilos para el mensaje de "No se encontraron resultados" */
.navbar-search .no-results {
  padding: 10px;
}

