@import 'vars';

.Nav {
  margin-top: 64px;
	display: flex;
	justify-content: space-between;
	padding: 0 24px;
	border-bottom: 0.5px solid $--very-light-pink;
	background: white;
	width: calc(100%);

}


.navbar-search {
    max-width: 400px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

.navbar-search div {
	width: 100%;
}

.navbar-search div form {
	display: flex;
}

.navbar-search div form div {
	display: flex;
    flex-grow: 1;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 2px;
}

.navbar-search div form button {
	width: auto;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    height: 40px;
    padding: 8px;
    background-color: #f0f0f0;
    margin-left: 8px;
}

.navbar-search div form div input {
	outline: none;
    border: none;
    background-color: #f0f0f0;
    color: #000;
    width: 100%;
    margin: 8px;
    padding: 0;
}

.li {
  font-size: 1.20rem;
  line-height: 3.4375rem;
  font-family: 'Lobster';
  font-weight: 900;
  letter-spacing: -1px;
  color: #000;
}

.navbar-left ul {
	list-style: none;
	padding: 5;
	margin: 0;
	display: flex;
	align-items: center;
	height: 60px;
}
.navbar-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 10px;
}


.navbar-left ul li a {
	text-decoration: none;
	padding: 8px;
	margin: 5px;
	border-radius: 8px;
}
.navbar-left ul li a:hover {
	border: 1px solid $--hospital-green;
	color: $--hospital-green;
}

 
@media (max-width: 640px) {
	.Nav {
	  display: none;
  }
    
}
