@import 'vars';



.Contenedor {
  width:100%;
  height:50vh;
  display:flex;
  background-color: white;
  position: relative;
  overflow: hidden;
}
.Arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px;
  border-radius: 50%;
}
.Arrow img {
  width: 24px;
  height: 24px;
}
.Wrapper {
  display: flex;
  transition: transform 0.3s ease;
}
.Slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 300px; /* Ajusta la altura según tus necesidades */
  padding: 16px;
}
.ImgContainer {
  margin-left: 70px;
  display: flex;
  flex:1;	
  align-items: center;
  justify-content: center;
}
.ImgContainer img {
  max-width: 60%;
  max-height: 80%;
}
.InfoContainer {
  flex: 2;
  padding: 0 106px;
}
.Title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}
.Description {
  font-size: 16px;
  margin-bottom: 16px;
}
.Button {
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.Button:hover {
  background-color: #0056b3;
}

@media (max-width: 640px) {
  .Contenedor {
    display: none;
    height: 70vh;
  }
  .Arrow {
    width: 25px;
    height: 25px;
  }
  .Wrapper {
    height: 70%;
  }
  .ImgContainer {
    height: 40%;
  }
  .ImgContainer img {
    height: 50%;
  }
}


